textarea:disabled {
    opacity: 1;
    background-color: transparent;
    color: inherit;
    border-style: none;
    cursor: pointer;
}
textarea {
    opacity: 1;
    background-color: transparent;
    color: inherit;
    border-style: none;
}
#color-icon i {
    padding: 2px;
}
#card-note {
    max-width: 20rem;
}
.card-text i {
    padding: 2px;
    padding-bottom: 7px;
}
.arrow {
    padding: 4px;
    cursor: pointer;
}
.card-text i {
    cursor: pointer;
}
.card-body {
    background-color: white;
    text-align: center;
}
.card-body i {
    padding: 2px
}
.basic-icon {
    color: green;
    cursor: pointer;
}
.green-icon {
    color: #2eb82e !important;
    cursor: pointer;
}
.red-icon {
    color: #ff3333 !important;
    cursor: pointer;
}
.grey-icon {
    color: #cccccc !important;
    cursor: pointer;
}
.orange-icon {
    color: #ff8000 !important;
    cursor: pointer;
}
.yellow-icon {
    color: #ffff00 !important;
    cursor: pointer;
}
.blue-icon {
    color: #4d4dff !important;
    cursor: pointer;
}
.black-icon {
    color: #00001a !important;
    cursor: pointer;
}

